@import "Component.css";
@import "Font.css";

.App {
  font-family: "Montserrat";

  text-align: center;
  color: var(--text-color);
  background-color: var(--bg-color);
  min-height: 100vh;

  overflow-y: auto;

  display: flex;
  justify-content: center;
}
